/*app base styles*/

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  background-color: #f4f4f8;
  transition: background-color, 0.4s;
}

/* THEME COLORS */
/*https://coolors.co/export/png/fe4a49-fed766-009fb7-e6e6ea-f4f4f8*/
.red {
  background-color: #fe4a49;
}
.yellow {
  background-color: #fed766;
}
.blue {
  background-color: #009fb7;
}
.grey1 {
  background-color: #e6e6ea;
}
.grey2 {
  background-color: #f4f4f8;
}

.grey1 header,
.grey2 header {
  color: #222222;
}

/*Background textures*/
.gplay {
  background-image: url('/gplay.png');
}

/*.subtleGrey {
  background-image: url('https://www.transparenttextures.com/patterns/subtle-grey.png');
}*/

.tinyGrid {
  background-image: url('/tiny-grid.png');
}
