/*app base styles*/
* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.app {
  background-color: #f4f4f8;
  transition: background-color, 0.4s;
}

/* THEME COLORS */
/*https://coolors.co/export/png/fe4a49-fed766-009fb7-e6e6ea-f4f4f8*/
.red {
  background-color: #fe4a49;
}
.yellow {
  background-color: #fed766;
}
.blue {
  background-color: #009fb7;
}
.grey1 {
  background-color: #e6e6ea;
}
.grey2 {
  background-color: #f4f4f8;
}

.grey1 header,
.grey2 header {
  color: #222222;
}

/*Background textures*/
.gplay {
  background-image: url('/gplay.png');
}

/*.subtleGrey {
  background-image: url('https://www.transparenttextures.com/patterns/subtle-grey.png');
}*/

.tinyGrid {
  background-image: url('/tiny-grid.png');
}

/*RESPONSIVE FIXES*/
@media all and (max-width: 500px) and (min-width: 320px) {
  #app_nav .title {
    font-size: 2rem;
  }
}
